
<h1>Cocktail name: </h1><%= @cocktail.name %>

<% @cocktail.doses.each do |dose| %>
  <p><%=  dose.description %><span> of </span> <%= dose.ingredient.name %>
    <span>  </span>
    <%= link_to 'Remove dose', dose_path(dose), method: :delete,
      data: { confirm: "Are you sure?" }%>
  </p>
<% end %>

<h4>Add a new dose to your Cocktail!</h4>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add a dose for your cocktail", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to Index', root_path %>
